@charset "UTF-8";
/*  呼び出し時 mixinを使用
.gradient {
  @include gradient(135deg, #f571fa, #2be6ff);
  */
.l-footer {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
}
.l-footer__secondary {
  padding: 10vw 12vw 0vw;
  line-height: 7vw;
}
@media screen and (min-width: 600px) {
  .l-footer__secondary {
    padding: 3vw 12vw 0vw;
  }
}
.l-footer__navs {
  display: flex;
  justify-content: space-around;
}
.l-footer__nav {
  margin-top: 5vw;
  margin-right: 2vw;
}

.l-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(231, 245, 248, 0.6);
}

.l-list-menu {
  margin-left: 40px;
}

.l-secondary__content {
  margin: 0 7vw;
  flex-direction: column;
  border: solid rgba(54, 66, 77, 0.231372549) 1px;
  border-radius: 10%;
  padding: 6vw;
  background-color: rgba(231, 245, 248, 0.6);
}
@media screen and (min-width: 600px) {
  .l-secondary__content {
    margin: 5vw 7vw;
  }
}

@media screen and (min-width: 600px) {
  .l-main__flex {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.l-section__wrapper {
  position: relative;
}
@media screen and (min-width: 600px) {
  .l-section__wrapper {
    padding-top: 3vw;
    margin: auto 2vw;
  }
}

.c-header__menu {
  display: none;
}
@media screen and (min-width: 600px) {
  .c-header__menu {
    display: block;
    padding-top: 4vw;
    margin-right: 2vw;
    text-shadow: 3px 4px 3px #fbffff;
  }
}
.box-fedIn {
  animation-name: fadeInAnime;
  animation-duration: 5s;
  animation-iteration-count: 5;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 20%;
  }
  to {
    opacity: 70%;
  }
}
#container {
  position: relative;
  margin: 0;
  padding: 0;
}

.balloons {
  padding-bottom: 70vw;
  margin: -335px 0 12vw;
}

.balloons div {
  position: absolute;
  left: 0;
  width: 80px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -6px -6px 0 rgba(0, 0, 0, 0.15) inset;
}

.balloons div:before {
  content: "";
  position: absolute;
  left: 38px;
  bottom: -70px;
  width: 2px;
  height: 70px;
  background: #a0a0a0;
  transform: rotate(5deg);
}

/* .balloons div:after {
	content:"▲";
	position: absolute;
	left: 33px;
	bottom: -13px;
	color: #ffa07a;
} */
.balloons div:nth-of-type(1) {
  left: 10%;
  background: rgba(69, 153, 231, 0.431372549);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 45s ease infinite;
}

.balloons div:nth-of-type(2) {
  left: 5%;
  background: rgba(230, 221, 61, 0.34);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 40s ease-in-out infinite;
  animation-delay: 5S;
}

.balloons div:nth-of-type(3) {
  left: 30%;
  background: rgba(19, 233, 189, 0.431372549);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 25s ease infinite;
}

.balloons div:nth-of-type(4) {
  left: 50%;
  background: rgba(69, 153, 231, 0.431372549);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 45s ease infinite;
  animation-delay: 3S;
}

.balloons div:nth-of-type(5) {
  left: 75%;
  background: rgba(230, 221, 61, 0.34);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 40s ease-in-out infinite;
}

.balloons div:nth-of-type(6) {
  left: 75%;
  background: rgba(19, 233, 189, 0.431372549);
  animation: wobbling_x 0.8s ease-in-out infinite alternate, wobbling_y 1.1s ease-in-out infinite alternate, fly_high 35s ease infinite;
  animation-delay: 4S;
}

@keyframes wobbling_x {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 8px;
  }
}
@keyframes wobbling_y {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 10px;
  }
}
@keyframes fly_high {
  100% {
    transform: translatey(-1500px);
  }
}
.c-background {
  background-color: #FFFFFF;
  width: 80vw;
  height: 50vw;
  border: solid rgba(15, 15, 16, 0.1607843137) 1px;
  border-radius: 50%;
  margin: -82px 9vw;
  position: absolute;
  opacity: 70%;
}
@media screen and (min-width: 600px) {
  .c-background {
    position: static;
    width: 100%;
    margin: -3px -2vw;
    height: 105%;
  }
}

.c-background__blue {
  height: 45vw;
}
@media screen and (min-width: 600px) {
  .c-background__blue {
    height: 0;
  }
}

.c-background__container {
  background-image: linear-gradient(200deg, #c9f0f5, #66A5AD);
}

.openbtn9 {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto 2vw;
  opacity: 80%;
}
@media screen and (min-width: 600px) {
  .openbtn9 {
    display: none;
  }
}

/*ボタン内側*/
.openbtn9 .openbtn-area {
  transition: all 0.4s;
}

.openbtn9 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: rgba(48, 59, 69, 0.8980392157);
  width: 45%;
}

.openbtn9 span:nth-of-type(1) {
  top: 15px;
}

.openbtn9 span:nth-of-type(2) {
  top: 26px;
}

.openbtn9 span:nth-of-type(3) {
  top: 37px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し、
//その中の線のtopの位置や形状が変化して×に*/
.openbtn9.active .openbtn-area {
  transform: rotateX(360deg);
}

.openbtn9.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-135deg);
  width: 30%;
}

.openbtn9.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn9.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(135deg);
  width: 30%;
}

/*きらっと光る*/
.btnshine {
  /*キラッと光る基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  background: rgba(15, 139, 190, 0.7215686275);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10%;
  text-decoration: none;
  outline: none;
  overflow: hidden;
}

/*キラッと光る*/
.btnshine::before {
  content: "";
  /*絶対配置でキラッと光るの位置を決める*/
  position: absolute;
  top: 0;
  left: -75%;
  /*キラッと光る形状*/
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

/*hoverした際の移動のアニメーション*/
.btnshine:hover::before {
  animation: shine 0.7s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
/*========= レイアウトのためのCSS ===============*/
body {
  vertical-align: middle;
  text-align: center;
}

p {
  margin: 0 0 10px 0;
}

.c-flex {
  display: flex;
}

.c-center {
  justify-content: center;
  display: flex;
}

.c-content {
  text-align: left;
}

.c-logo {
  width: 9.333333vw;
  margin: 2vw;
}
@media screen and (min-width: 600px) {
  .c-logo {
    width: 6.333333vw;
  }
}

@media screen and (min-width: 600px) {
  .c-line {
    border: solid #C4DFE6 1px;
    border-radius: 10%;
  }
}

.p-main__section {
  font-size: 14px;
  font-size: 3.7333333333vw;
  padding: 0px 10vw;
  line-height: 8vw;
  position: absolute;
  margin-top: 8vw;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .p-main__section {
    font-size: 9px;
    font-size: 2.4vw;
    padding: 0px 3vw;
    line-height: 5.5vw;
    position: static;
  }
}

.p-section {
  margin: 6vw 0 7vw;
  font-weight: 900;
  font-size: 14px;
  font-size: 3.7333333333vw;
}
.p-section .p-second__title {
  margin-bottom: 4vw;
}

.p-second__section {
  font-weight: 600;
  padding-bottom: 2vw;
}
.p-second__section:nth-child(2) {
  margin: 4vw 0;
}
.p-second__section__secondry {
  margin-top: 2vw;
}
.p-second__section__detail {
  margin-top: 9vw;
  line-height: 7vw;
  justify-content: center;
  font-size: 15px;
  font-size: 4vw;
}
@media screen and (min-width: 600px) {
  .p-second__section__detail {
    font-size: 10px;
    font-size: 2.6666666667vw;
  }
}
.p-second__section__about {
  line-height: 6vw;
  padding-bottom: 10vw;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  border-width: 0px;
  border-style: solid;
  margin: 0;
  line-height: 1;
  list-style-type: none;
  text-decoration: none;
  color: rgba(48, 59, 69, 0.8980392157);
}

html {
  height: 100%;
}

body {
  font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  height: 100%;
}

input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}/*# sourceMappingURL=style.css.map */